.products {
  width: 75%;
  margin: auto;
  padding: 20px 0px;
  color: #424242;
  text-align: center;
}
.products .box {
  width: 100%;
  padding: 120px 0px 80px 0px;
  border-bottom: 1px solid #eee;
}
.products .box:first-child {
  border-bottom: 1px solid #eee;
}
/* .products .box:last-child {
  padding: 50px 0px;
} */
.products .products-title {
  font-size: 44px;
  font-weight: 500;
  margin: 0px;
}
.products .products-desc {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0px 40px 0px;
}

.products .products-list-container {
  width: 100%;
  margin: 100px auto;
}
.products .products-list-container h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 100px 0px;
}
.products .products-list-container .product-list-title {
  font-weight: 500;
  margin: 30px;
}
.products .products-list-container .products-list {
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products .products-list-container .product-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
}
.products .products-list-container .product-image-small {
  width: 70%;
  display: flex;
  align-self: center;
}
.products .products-list-container .product-box .product-desc {
  font-size: 12px;
  font-weight: 500;
  color: #9b9b9b;
}

.products .products-list-container .sign-up-btn {
  background-color: #387ed1;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 25px;
  margin: 20px;
}

.products a {
  text-decoration: none;
}
