.products {
  width: 75%;
  margin: auto;
  padding: 20px 0px;
  color: #424242;
  text-align: center;
}
.products .box {
  width: 100%;
  padding: 120px 0px 80px 0px;
  border-bottom: 1px solid #eee;
}
.products .box:first-child {
  border-bottom: 1px solid #eee;
}
/* .products .box:last-child {
  padding: 50px 0px;
} */
.products .products-title {
  font-size: 44px;
  font-weight: 500;
  margin: 0px;
}
.products .products-desc {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0px 40px 0px;
}

.products .products-list-container {
  width: 100%;
  margin: 100px auto;
}
.products .products-list-container h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 100px 0px;
}
.products .products-list-container .product-list-title {
  font-weight: 500;
  margin: 30px;
}
.products .products-list-container .products-list {
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products .products-list-container .product-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
}
.products .products-list-container .product-image-small {
  width: 70%;
  display: flex;
  align-self: center;
}
.products .products-list-container .product-box .product-desc {
  font-size: 12px;
  font-weight: 500;
  color: #9b9b9b;
}

.products .products-list-container .sign-up-btn {
  background-color: #387ed1;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 25px;
  margin: 20px;
}

.products a {
  text-decoration: none;
}

/* Responsive Products.css */

/* For screen-size 1000px-1300px */
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .products .products-list-container .product-box {
    width: 25%;
  }
}

/* For screen-size 700px-1000px */
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .products .products-title {
    font-size: 40px;
  }
  .products .products-desc {
    font-size: 18px;
  }

  .products .products-list-container h3 {
    font-size: 18px;
  }
  .products .products-list-container .product-list-title {
    font-size: 35px;
    font-weight: 500;
    margin: 30px;
  }
  .products .products-list-container .product-box {
    width: 25%;
  }
  .products .products-list-container .sign-up-btn {
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 10px;
    margin: 20px;
  }
}

/* For screen-size 450px-700px */
@media screen and (min-width: 450px) and (max-width: 700px) {
  .products {
    width: 85%;
  }
  .products .products-title {
    font-size: 35px;
  }
  .products .products-desc {
    font-size: 17px;
  }
  .products .products-list-container {
    width: 100%;
    margin: 40px auto;
  }
  .products .products-list-container h3 {
    font-size: 16px;
  }
  .products .products-list-container .product-list-title {
    font-size: 30px;
    font-weight: 500;
    margin: 30px;
  }
  .products .products-list-container .products-list {
    flex-direction: column;
  }
  .products .products-list-container .product-box {
    width: 50%;
    margin: 15px auto;
  }
  .products .products-list-container .sign-up-btn {
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 10px;
    margin: 20px;
  }
}
/* For screen-size 350px-450px */
@media screen and (min-width: 350px) and (max-width: 450px) {
  .products {
    width: 85%;
  }
  .products .box {
    padding: 80px 0px 80px 0px;
  }
  .products .products-title {
    font-size: 30px;
  }
  .products .products-desc {
    font-size: 15px;
  }
  .products .box p {
    font-size: 15px;
  }
  .products .products-list-container {
    width: 100%;
    margin: 40px auto;
  }
  .products .products-list-container h3 {
    font-size: 16px;
  }
  .products .products-list-container .product-list-title {
    font-size: 30px;
    font-weight: 500;
    margin: 30px;
  }
  .products .products-list-container .products-list {
    flex-direction: column;
  }
  .products .products-list-container .product-box {
    width: 50%;
    margin: 15px auto;
  }
  .products .products-list-container .sign-up-btn {
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 10px;
    margin: 20px;
  }
}
