.navbar {
  width: 80%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* border-bottom: ; */
}

.navbar .left-nav-box {
  text-align: left;
  width: 30%;
}
.navbar .right-nav-box {
  width: 40%;
  color: #666;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.navbar .horizontal-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-logo {
  width: 160px;
  vertical-align: middle;
  padding: 25px 10px;
}
.navbar .right-nav-box li {
  list-style-type: none;
  font-size: 15px;
  font-weight: 400;
}
.navbar .hamburger-menu-icon {
  height: 25px;
  width: 25px;
  margin-top: 10px;
  display: none;
}
.navbar .right-nav-box a {
  text-decoration: none;
  color: #666;
}
.navbar .right-nav-box a:hover {
  color: #387ed1;
}
.navbar .right-nav-box .active {
  color: #387ed1;
  text-shadow: 0 0 0 #387ed1;
}

/* Responsive Navbar.css */

/* for screen-size 550px-750px */
@media screen and (min-width: 550px) and (max-width: 750px) {
  .navbar .horizontal-menu {
    display: none;
  }

  .navbar .hamburger-menu-icon {
    display: initial;
  }
}

/* for screen-size 350px-550px */
@media screen and (min-width: 350px) and (max-width: 550px) {
  .navbar {
    width: 90%;
  }
  .navbar .left-nav-box {
    text-align: left;
    width: 40%;
  }
  .navbar .horizontal-menu {
    display: none;
  }

  .navbar .hamburger-menu-icon {
    display: initial;
  }
}
